.body {
    width: 1440px;
    height: 4294px;
}

.head {
    position: relative;
    width: 1155px;
    height: 80px;

    &__img {
        position: relative;
        width: 26px;
        height: 25.93px;
        margin-left: 160px;
        margin-top: 42px;
    }

    &__text {
        position: relative;
        width: 157px;
        height: 35px;
        font-size: 35px;
        line-height: 35px;
        font-weight: 500;
        margin-left: 200px;
        margin-top: -38px;
    }

    &__line {
        border: 1px solid #EFEEF3;
        width: 1155px;
        height: 0px;
        margin-left: 158px;
        margin-top: 45px;
    }
}

.service {
    position: relative;
    width: 1158px;
    height: 472px;
    margin-top: 173px;
    margin-right: 126px;
    margin-bottom: 3649px;
    margin-left: 156px;

    .service_head {
        position: relative;
        width: 108px;
        height: 21px;
        margin-top: -50px;
        font-size: 16px;
        line-height: 21px;
        color: #7690A8;
    }

    .sercive__text {
        position: relative;
        width: 377px;
        height: 52px;
        font-size: 40px;
        line-height: 52px;
        color: #16133D;
        margin-top: 17px;
        font-weight: 600;
    }

    .service__design {
        position: relative;
        width: 360px;
        height: 347px;
        margin-top: 35px;
        border-radius: 8px;
        border: 1px solid #E5EAF4;
        box-sizing: border-box;
        background: #FFFFFF;




        .service__bordermic {
            position: relative;
            width: 64px;
            height: 64px;
            margin-top: 41px;
            margin-left: 41px;
            background: #FFFFFF;
            border: 1px solid #E5EAF4;
            box-sizing: border-box;
            border-radius: 8px;

        }

        .service__mic {
            position: relative;
            width: 38.46px;
            height: 34.73px;
            margin-left: -50px;
            margin-bottom: 15px;
        }

        .service__des {
            position: relative;
            width: 178px;
            height: 22px;
            font-size: 24px;
            line-height: 21.28px;
            color: #16133D;
            padding-top: 28px;
            padding-left: 41px;
        }

        .service__lorem {
            position: relative;
            width: 274px;
            height: 84px;
            font-size: 16px;
            line-height: 28px;
            margin-top: 14px;
            margin-left: 41px;
        }

        .service__learn {
            position: relative;
            width: 96px;
            height: 19px;
            font-size: 16px;
            line-height: 18.75px;
            margin-top: 29px;
            margin-left: 41px;
            color: 16133D;
        }
    }

    .service__ecco {
        position: relative;
        width: 360px;
        height: 347px;
        border-radius: 8px;
        border: 1px solid #E5EAF4;
        box-sizing: border-box;
        background: #FFFFFF;
        margin-left: 399px;
        margin-top: -347px;


        .service__bordermaf {
            width: 64px;
            height: 64px;
            margin-top: 41px;
            margin-left: 41px;
            background: #FFFFFF;
            border: 1px solid #E5EAF4;
            box-sizing: border-box;
            border-radius: 8px;
            position: relative;
        }

        .service__maf {
            width: 38.46px;
            height: 34.73px;
            margin-left: -55px;
            margin-bottom: 15px;
            position: relative;
            
        }

        .service__eco {
            width: 178px;
            height: 22px;
            font-size: 24px;
            line-height: 21.28px;
            color: #16133D;
            padding-top: 28px;
            padding-left: 41px;
            position: relative;
        }



        .service__loremEcco {
            position: relative;
            width: 274px;
            height: 84px;
            font-size: 16px;
            line-height: 28px;
            margin-top: 14px;
            margin-left: 41px;
        }

        .service__learn {
            position: relative;
            height: 19px;
            font-size: 16px;
            line-height: 18.75px;
            margin-top: 29px;
            margin-left: 41px;
            color: 16133D;
            width: 96px;
        }
    }

    .service__application {
        position: relative;
        width: 360px;
        height: 347px;
        background: #FFFFFF;
        border: 1px solid #E5EAF4;
        box-sizing: border-box;
        border-radius: 8px;
        margin-left: 797px;
        margin-top: -350px;
        margin-right: 126px;

        .service__borderapp {
            position: relative;
            width: 64px;
            height: 64px;
            margin-top: 41px;
            margin-left: 41px;
            background: #FFFFFF;
            border: 1px solid #E5EAF4;
            box-sizing: border-box;
            border-radius: 8px;

        }

        .service__mob {
            width: 38.46px;
            height: 34.73px;
            margin-left: -55px;
            margin-bottom: 15px;
            position: relative;
        }

        .service__app {
            width: 178px;
            height: 22px;
            font-size: 24px;
            line-height: 21.28px;
            color: #16133D;
            padding-top: 28px;
            padding-left: 41px;
            position: relative;
        }

        .service__loremApp {
            position: relative;
            width: 274px;
            height: 84px;
            font-size: 16px;
            line-height: 28px;
            margin-top: 14px;
            margin-left: 41px;
        }

        .service__learn {
            position: relative;
            height: 19px;
            font-size: 16px;
            line-height: 18.75px;
            margin-top: 29px;
            margin-left: 41px;
            color: 16133D;
            width: 96px;
        }
    }
}

.service__ecco:hover {
    position: relative;
    height: 347px;
    border-radius: 8px;
    border: 1px solid green;
    
    box-sizing: border-box;
    background: #FFFFFF;
    margin-left: 399px;
    margin-top: -347px;
    width: 360px;
}

.service__maf:hover {
    width: 38.46px;
    height: 34.73px;
    margin-left: -55px;
    margin-bottom: 15px;
    position: relative;
    fill: #52C29D;
}

.footer {
    width: 1440px;
    height: 194px;
    background: #16133D;
    margin-top: -3581px;
    border-radius: 0px;

    &__img {
        position: relative;
        width: 26px;
        height: 25.93px;
        margin-left: 160px;
        margin-top: 40px;
    }

    &__free {
        position: relative;
        color: #F2F2F2;
        width: 157px;
        height: 35px;
        font-size: 35px;
        line-height: 35px;
        font-weight: 500;
        margin-top: -36px;
        margin-left: 200px;
    }
}

.footer {


    &__borderInst {
        position: relative;
        width: 38px;
        height: 38px;
        background-color: #EFEEF3;
        border-radius: 5px;
        margin-left: 161px;
        margin-top: 45.07px;
    }

    &__inst {
        position: relative;
        width: 200.01px;
        height: 20.01px;
        margin-left: -322px;
        margin-bottom: 9px;
        
    }

    &__face {
        position: relative;
        
        width: 10px;
        height: 18.67px;
        margin-left: -60px;
        margin-bottom: 9px;
    }

    &__borderFace {
        position: relative;
        width: 38px;
        height: 38px;
        background-color: #EFEEF3;
        border-radius: 5px;
        margin-left: 8px;
        margin-top: 45.07px;
    }

    &__cat {
        position: relative;
        width: 20px;
        height: 19.5px;
        margin-left: 31px;
        margin-bottom: 9px;
    }

    &__borderCat {
        position: relative;
        width: 38px;
        height: 38px;
        background-color: #EFEEF3;
        border-radius: 5px;
        margin-left: 8px;
        margin-top: 45.07px;
    }

    &__ball {
        position: relative;
        width: 19.38px;
        height: 19.38px;
        margin-left: 25px;
        margin-bottom: 9px;
    }
    &__borderBall {
        position: relative;
        width: 38px;
        height: 38px;
        background-color: #EFEEF3;
        border-radius: 5px;
        margin-left: 8px;
        margin-top: 45.07px;
    }

    &__twit {
        position: relative;
        width: 20px;
        height: 16.24px;
        margin-left: 27px;
        margin-bottom: 9px;
    }

    &__borderTwit {
        position: relative;
        width: 38px;
        height: 38px;
        background-color: #EFEEF3;
        border-radius: 5px;
        margin-left: 8px;
        margin-top: 45.07px;
    }
}