.initial {
    .image {
        .img-content {
            background-image: url('../img/mobile/Img03.jpg');
            
        }
    }
@media screen and (min-width:768px) {
    .initial {
        .image {
            .img-content {
                background-image: url('../img/tablet/Img03.jpg');
                
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .initial {
        .image {
            .img-content {
                background-image: url('../img/desktop/Img03.jpg');
                margin-left: 50px;
            }
        }
    }
}
}
