@media screen and (min-width:320px) {
.research {
    .image {
        .img-content {
            background-image: url('../img/mobile/Img02.jpg');
            margin-top: 32px;
            padding-right: 16px;
            margin-right: 16px;
        }
    }
}


@media screen and (min-width:768px) {
    .research {
        .image {
            .img-content {
                background-image: url('../img/tablet/Img02.jpg');
                margin-top: 60px ;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .research {
        .image {
            .img-content {
                background-image: url('../img/desktop/Img02.jpg');
                margin-top: 90px;

            }
        }
    }
}
}