.title-img {
    background-image: url('../img/mobile/Img01.jpg');
    
    
   

    @media screen and (min-width:768px) {
        .research {
            .image {
                .img-content {
                    background-image: url('../img/tablet/Img01.jpg');
                    

                }
            }
        }
    }

    @media screen and (min-width:1024px) {
        .research {
            .image {
                .img-content {
                    background-image: url('../img/desktop/Img01.jpg');
                    
                }
            }
        }
    }
}