.name {
    min-width: 172px;
    min-height: 21px;
    font-size: 16px;
    line-height: 21.17px;
    letter-spacing: 50%;
    margin: 112px 132px 0 16px;

    @media screen and (min-width:768px) {
        min-width: 438px;
        margin-right: 314px;
    }

    @media screen and (min-width:1024px) {
        min-width: 168px;
        min-height: 24px;
        margin: 73px 1114px 0 60px;
    }

}

.text {
    min-width: 288px;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 5%;
    color: #565656;
    font-family: 'Lato', sans-serif;
    margin: 32px 16px 0 0;

    @media screen and (min-width:1024px) {}

}

.overviev {
    .text {
        min-height: 448px;
        width: 85vw;

        @media screen and (min-width:768px) {
            min-width: 90vw;
            min-height: 192px;
            padding-top: 16px;
            margin: 16px 19px 0 0;
            width: 90vw;


        }

        @media screen and (min-width:1024px) {
            min-width: 544px;
            min-height: 256px;
            margin: 40px 736px 0 60px;

        }
    }
}

.research {
    .text {
        min-height: 448px;
        margin-top: 400px;
        width: 75vw;

        @media screen and (min-width:768px) {
            width: 90vw;
            min-height: 192px;
            padding-top: 16px;
            margin: 526px 0 0 0;


        }

        @media screen and (min-width:1024px) {
            min-width: 544px;
            min-height: 256px;
            margin: 550px 736px 0 50px;
        }
    }
}

.initial {
    .text {
        min-height: 448px;
        margin-top: 465px;
        width: 75vw;
        margin-top: 348px;

        @media screen and (min-width:768px) {
            width: 90vw;
            min-height: 192px;
            padding-top: 16px;
            margin: 516px 0 0 0;
        }

        @media screen and (min-width:1024px) {
            min-width: 544px;
            min-height: 256px;
            margin: 580px 736px 0 50px;
        }
    }
}