* {
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    width: 192px;
    height: 100px;
    margin: 39px 112px 0 16px;
    font-size: 33px;

    @media screen and (min-width:768px) {
        min-width: 489px;
        min-height: 50px;
        margin-right: 263px;
        font-size: 33px;

    }

    @media screen and (min-width:1024px) {
        min-width: 456px;
        min-height: 64px;
        margin: 48px 824px 0 60px;
        font-size: 48px;
    }
}

h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 0;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 5%;
    @media screen and (min-width:1024px) {
        margin-left: 60px;
    }
}

