*{
    font-family: 'Red Hat Display', sans-serif;}

h1 {
    position: absolute;
    width: 192px;
    height: 100px;
    left: 16px;
    top: 172px;
}

h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 0;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 5%;
}