._12_Col_Grid {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1550px;
    height: 289px;
    z-index: 39;
  }
  .Rectangle_copy {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 225px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 38;
  }
  .REctangle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 305px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 37;
  }
  .ReСtangle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 385px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 36;
  }
  .RecЕangle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 465px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 35;
  }
  .RectAngle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 545px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 34;
  }
  .RectaNgle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 625px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 33;
  }
  .RectanGle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 705px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 32;
  }
  .RectangLe {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 785px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 31;
  }
  .RectanglE {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 865px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 30;
  }
  .RECtangle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 945px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 29;
  }
  .REcTangle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 1025px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 28;
  }
  .REctAngle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 1105px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 27;
  }
  .REctaNgle_copy_2 {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 1265px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 26;
  }
  .REctanGle {
    background-color: rgb( 255, 0, 0 );
    opacity: 0.102;
    position: absolute;
    left: 1185px;
    top: -659px;
    width: 60px;
    height: 3875px;
    z-index: 25;
  }
  

.but {
  position: relative;
  margin-left: 190px;
}