.secondBlock:hover {
    width: 360px;
    height: 347px;
    border-radius: 8px;
    border: 1px solid green;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #FFFFFF;
    margin-left: 399px;
    margin-top: -347px;
  }
  .secondBlock__maf:hover {
    width: 38.46px;
    height: 34.73px;
    margin-left: -55px;
    margin-bottom: 15px;
    position: relative;
    fill: #52C29D;
  }
  