.borderIco {
    width: 64px;
    height: 64px;
    margin-top: 41px;
    margin-left: 41px;
    background: #FFFFFF;
    border: 1px solid #E5EAF4;
    box-sizing: border-box;
    border-radius: 8px;
}
.ico {
    width: 38.46px;
        height: 34.73px;
        margin-left: -55px;
        margin-bottom: 15px;
}