/*.body {
    min-width: 320px;
    min-height: 3497px;
    max-width: 1440px;
    max-height: 4086px;
    background-color: #FFFFFF;
}
*/

@media screen and (max-width: 1440px) {
    .FirstSection {
        width: 1120px;
        height: 470px;
    }
}

@media screen and (max-width: 1023px) {
    .FirstSection {
       width: 734px;
       height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .FirstSection {
        width: 288px;
        height: 288px;
    }
}


@media screen and (min-width: 320px) {
    .FirstSection {
        width: 288px;
        height: 288px;
    }
    
}


@media screen and (min-width: 768px) {
    .FirstSection {
        width: 734px;
        height: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .FirstSection {
        width: 1120px;
        height: 470px;
    }
}


.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}



@import "fistSection/fistSection.scss";
@import "secondSection/secondSection.scss";
@import "thirdSection/thirdSection.scss";
@import "name.title.img/name.title.img.scss";