.body {
  padding: 16px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  min-width: 288px;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1119px;
  }
}
@media screen and (min-width: 1120px) {
  .container {
    min-width: 1120px;
    max-width: 1440px;
  }
}

.title-img {
  background-image: url("../img/mobile/Img01.jpg");
  position: absolute;
  left: 16px;
  top: 324px;
}
@media screen and (min-width: 768px) {
  .title-img .research .image .img-content {
    background-image: url("../img/tablet/Img01.jpg");
    position: absolute;
    left: 16px;
    top: 274px;
  }
}
@media screen and (min-width: 1120px) {
  .title-img .research .image .img-content {
    background-image: url("../img/desktop/Img01.jpg");
    position: absolute;
    left: 160px;
    top: 273px;
  }
}

.research .image .img-content {
  background-image: url("../img/mobile/Img02.jpg");
}
@media screen and (min-width: 768px) {
  .research .research .image .img-content {
    background-image: url("../img/tablet/Img02.jpg");
  }
}
@media screen and (min-width: 1120px) {
  .research .research .image .img-content {
    background-image: url("../img/desktop/Img02.jpg");
  }
}

.initial .image .img-content {
  background-image: url("../img/mobile/Img03.jpg");
}
@media screen and (min-width: 768px) {
  .initial .initial .image .img-content {
    background-image: url("../img/tablet/Img03.jpg");
  }
}
@media screen and (min-width: 1120px) {
  .initial .initial .image .img-content {
    background-image: url("../img/desktop/Img03.jpg");
  }
}

.design .image .img-content {
  background-image: url("../img/mobile/Img04.jpg");
}
@media screen and (min-width: 768px) {
  .design .design .image .img-content {
    background-image: url("../img/tablet/Img04.jpg");
  }
}
@media screen and (min-width: 1120px) {
  .design .design .image .img-content {
    background-image: url("../img/desktop/Img04.jpg");
  }
}

.img-content {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100vw - 32px);
  height: calc(50vw - 32px);
}

@media screen and (min-width: 768px) {
  .img-content {
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100vw - 32px);
    height: calc(50vw - 32px);
    background-position: center;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .img-content {
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100vw - 32px);
    height: calc(100vw - 32px);
    background-position: center;
  }
}
.section .image {
  margin-bottom: 48px;
  padding-top: 16px;
}
.section .text {
  margin-bottom: 49px;
}

.name {
  position: absolute;
  left: 16px;
  top: 112px;
  min-width: 172px;
  min-height: 21px;
  font-size: 16px;
  line-height: 21.17px;
  letter-spacing: 50%;
}

.text {
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 5%;
  color: #565656;
  font-family: "Lato", sans-serif;
}

.overviev .text {
  position: absolute;
  min-width: 288px;
  min-height: 448px;
  top: 660px;
  left: 16px;
}
@media screen and (min-width: 768px) {
  .overviev .text {
    min-width: 733px;
    min-height: 192px;
    position: absolute;
    top: 784px;
    left: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .overviev .text {
    min-width: 544px;
    min-height: 256px;
    position: absolute;
    top: 873px;
    left: 160px;
  }
}

* {
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  position: absolute;
  width: 192px;
  height: 100px;
  left: 16px;
  top: 172px;
}

h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 16px 0;
  font-size: 33px;
  line-height: 50px;
  letter-spacing: 5%;
}

* {
  width: 288px;
  height: 38px;
}

.overviev .title {
  position: absolute;
  left: 16px;
  top: 660px;
}
@media screen and (min-width: 768px) {
  .overviev .title {
    width: 733px;
    position: absolute;
    left: 16px;
    top: 730px;
  }
}
@media screen and (min-width: 1120px) {
  .overviev .title {
    width: 288px;
    position: absolute;
    left: 160px;
    top: 873px;
  }
}

/*
.research {
    .title {
        position: absolute;
        left: 16px;
        top: 1227px;
        height: 76px;
        @media screen and (min-width:768px) {
            width: 733px;
            height: 38px;
            position: absolute;
            left: 16px;
            top: 730px;
        }

        @media screen and (min-width:1120px) {
            width: 288px;
            height: 38px;
            position: absolute;
            left: 160px;
            top: 873px;
        }
    }
}

.initial {
    .title {
        position: absolute;
        left: 16px;
        top: 2123px;
        @media screen and (min-width:768px) {
            width: 733px;
            height: 38px;
            position: absolute;
            left: 16px;
            top: 730px;
        }

        @media screen and (min-width:1120px) {
            width: 288px;
            height: 38px;
            position: absolute;
            left: 160px;
            top: 873px;
        }
    }
}

.design {
    .title {
        position: absolute;
        left: 16px;
        top: 3183px;
        @media screen and (min-width:768px) {
            width: 733px;
            height: 38px;
            position: absolute;
            left: 16px;
            top: 730px;
        }

        @media screen and (min-width:1120px) {
            width: 288px;
            height: 38px;
            position: absolute;
            left: 160px;
            top: 873px;
        }
    }
}
*/