* {
    min-width: 288px;
    min-height: 38px;
    
    
}

.overviev {
    .title {
        

        margin-top: 48px;
        
        @media screen and (min-width:768px) {
            min-width: 733px;
            
        }

        @media screen and (min-width:1024px) {
            min-width: 288px;
            
        }
    }
}

.research {
    .title {
        height: 76px;
        
        @media screen and (min-width:768px) {
            min-width: 733px;
            min-height: 38px;
           
        }

        @media screen and (min-width:1024px) {
            min-width: 288px;
            min-height: 38px;
            
        }
    }
}

.initial {
    .title {
      
        @media screen and (min-width:768px) {
            width: 733px;
            height: 38px;
            
            
        }

        @media screen and (min-width:1024px) {
            min-width: 288px;
            min-height: 38px;
            margin-left: 50px;
            
        }
    }
}

.design {
    .title {
        
            padding: 0;
            margin-top: 0;
        
        @media screen and (min-width:768px) {
            min-width: 733px;
            min-height: 38px;
            margin-top: 1px;
        }

        @media screen and (min-width:1024px) {
            min-width: 288px;
            min-height: 38px;
            
        }
    }
}
